# Virtual environment
venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
